:root {
  --main-bg-color: #43457f;
  --header-bg-color: #685489;
  --title-bg-color: #685489;
  --callToAction-bg-color: #ff9b83;
  --message-bg-color: #ff9b83;
  --text-color: #fff;
  --message-color: #fff;
  --numberSecret-color: #ff9b83;
}
@font-face {
  font-family: "PressStart";
  src: url("../fonts/PressStart2P-Regular.TTF");
}
* {
  box-sizing: border-box;
  font-family: PressStart, -apple-system, Helvetica Neue, Helvetica, Roboto,
    Arial, sans-serif;
}
body {
  height: 100vh;
  margin: 0;
  background-color: var(--main-bg-color);
  color: var(--text-color);
}
a {
  text-decoration: none;
  color: var(--text-color);
}
a:link:visited {
  color: var(--text-color);
}
h2 {
  text-align: center;
}
h3 {
  text-transform: uppercase;
  background-color: var(--title-bg-color);
  padding: 0.5rem 0.5rem;
}
/*Clases*/
.container {
  padding: 0 1rem;
}
.header {
  text-align: center;
  text-transform: uppercase;
  background-color: var(--header-bg-color);
  padding: 2rem 0;
  margin-bottom: 3rem;
}
/*Formulario*/
.callToAction {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5rem 0;
}
.callToAction h3 {
  line-height: 2rem;
  text-align: center;
}
.form {
  padding: 2rem 0.5rem;
  border: 1px solid black;
  border-radius: 0.3rem;
}
.form div > label {
  display: block;
  padding-left: 1rem;
  padding-bottom: 0.3rem;
}
.form div > input {
  display: block;
  width: 300px;
  margin-bottom: 1rem;
  padding: 0.5rem 0;
  padding-left: 1rem;
}
.form > input[type="submit"] {
  width: 300px;
  padding: 1rem 0.5rem;
  font-weight: bold;
  background-color: var(--callToAction-bg-color);
}
/*MainGame*/
/*MainGame__Input*/
.mainGame__input {
  display: flex;
  flex-direction: column;
  padding: 1rem 0.5rem;
  border: 1px solid black;
  border-radius: 0.3rem;
}
.mainGame__input > input:first-of-type {
  margin-bottom: 1rem;
  padding: 0.5rem 0.5rem;
  text-align: center;
}
/*MainGame__message*/
.mainGame__message {
  color: var(--message-color);
  font-size: 1.5rem;
}
.mainGame__message--round {
  background-color: var(--message-bg-color);
  padding: 0.3rem 0.5rem;
  text-align: center;
}
/*MainResults*/
.mainResults {
  text-align: center;
}
.mainResults__result {
  text-transform: uppercase;
  font-size: 2rem;
  margin-bottom: 1rem;
}
.mainResults__number {
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--numberSecret-color);
}
.mainResults__reset {
  margin-bottom: 3rem;
}
.mainResults__reset > p {
  font-size: 1em;
}
/*Displays*/
.hide {
  display: none;
}
/*Buttons*/
.btn {
  padding: 0.5rem 0.5rem;
  text-align: center;
}
/*Animations*/

/*Media Queries*/
@media screen and (min-width: 600px) {
  .container {
    max-width: 600px;
    margin: 0 auto;
    padding: 0;
  }
}
