:root {
  --main-bg-color: #43457f;
  --header-bg-color: #685489;
  --title-bg-color: #685489;
  --callToAction-bg-color: #ff9b83;
  --message-bg-color: #ff9b83;
  --text-color: #fff;
  --message-color: #fff;
  --numberSecret-color: #ff9b83;
}
* {
  box-sizing: border-box;
  font-family: "Press Start 2P", cursive;
}
body {
  height: 100vh;
  margin: 0;
  background-color: var(--main-bg-color);
  color: var(--text-color);
}
a {
  text-decoration: none;
  color: var(--text-color);
}
a:link:visited {
  color: var(--text-color);
}
ul {
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}
li {
  list-style: none;
  padding-right: 1rem;
  padding-bottom: 1rem;
}
h2 {
  font-size: 1.3rem;
  text-align: center;
}
summary {
  margin-bottom: 1rem;
}
p {
  line-height: 1.7rem;
  letter-spacing: 0.2rem;
}
img {
  display: block;
  height: auto;
  width: 80%;
  margin: 0 auto;
}
/*Clases*/
.container {
  padding: 0 1rem;
}
.header {
  text-align: center;
  text-transform: uppercase;
  background-color: var(--header-bg-color);
  padding: 1rem 0;
  margin-bottom: 2rem;
}
.subTitles {
  text-transform: uppercase;
  background-color: var(--title-bg-color);
  padding: 0.5rem 0.5rem;
}
/*Formulario*/
.callToAction {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2rem 0;
}
.callToAction h3 {
  line-height: 2rem;
  text-align: center;
}
.form {
  padding: 2rem 0.5rem;
  border: 1px solid black;
  border-radius: 0.3rem;
  background-color: var(--callToAction-bg-color);
}
.form div > label {
  display: block;
  padding-left: 1rem;
  padding-bottom: 0.3rem;
}
.form div > input {
  display: block;
  width: 300px;
  margin-bottom: 1rem;
  padding: 0.5rem 0;
  padding-left: 1rem;
}
.form > input[type="submit"] {
  width: 300px;
  padding: 1rem 0.5rem;
  font-weight: bold;
  background-color: var(--callToAction-bg-color);
}
/*MainGame*/
/*MainGame__Input*/
.mainGame__input {
  display: flex;
  flex-direction: column;
  padding: 1rem 0.5rem;
  border: 1px solid black;
  border-radius: 0.3rem;
  background-color: var(--callToAction-bg-color);
  margin-bottom: 1rem;
}
.mainGame__input > input:first-of-type {
  margin-bottom: 1rem;
  padding: 0.5rem 0.5rem;
  text-align: center;
}
/*MainGame__message*/
.mainGame__message {
  color: var(--message-color);
  font-size: 1.2rem;
}
.mainGame__message--round {
  padding: 0.3rem 0.5rem;
  text-align: center;
}
.mainGame__hearts {
  display: flex;
  justify-content: start;
}
.hearts {
  margin: 0;
  margin-right: 0.2rem;
  width: 10%;
}
/*COLORS*/
.hot {
  color: #ffac83;
}
.cold {
  color: #83cbff;
}
.burn {
  color: #f56161;
}
.warm {
  color: #ffe783;
}
/*MainResults*/
.mainResults {
  text-align: center;
}
.mainResults__result {
  text-transform: uppercase;
  font-size: 2rem;
  margin: 0 0 1rem 0;
}
.mainResults__number {
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--numberSecret-color);
}
.mainResults__reset {
  margin-bottom: 1rem;
}
.mainResults__reset > p {
  font-size: 1em;
}
/*Displays*/
.hide {
  display: none;
}
/*Buttons*/
.btn {
  padding: 0.5rem 0.5rem;
  text-align: center;
}
/*Media Queries*/
@media screen and (min-width: 600px) {
  .container {
    max-width: 600px;
    margin: 0 auto;
    padding: 0;
  }
  img {
    width: 50%;
  }
}
@media screen and (min-width: 1200px) {
  /*Animations*/
  .pulse {
    animation-name: Pulse;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
    animation-delay: 1s;
  }
  @keyframes Pulse {
    0% {
      transform: scale(0.8, 0.8);
    }
    50% {
      transform: scale(0.9, 0.9);
    }
    100% {
      transform: scale(1, 1);
    }
  }
}
